---
  BasedOnStyle: Google
  IndentWidth: 4
---
  Language: Cpp
  ColumnLimit: 80
  AlignConsecutiveAssignments: true
  DerivePointerAlignment: false
  PointerAlignment: Left
  BinPackArguments: false
  AccessModifierOffset: -3  # This moves 'public:' from 4 spaces back to 1 space
  BinPackParameters: false
