# Stop searching for additional config files.
set noparent
# Limit line length.
linelength=80
# Header files are not always placed in the same directory
# disables the build/include warnings
filter=-build/include
